@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-image: url(images/download.jpg);
}
.logo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}

.navigation a{

color: rgb(235, 205, 76);
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;

}

.navigation a:hover{
    color: #ffffff;
    transform: scale(1.1);
}

section{
    padding: 50px 200px;
    
    }

.main{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
background: url(images/image1.jpeg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}


.main h2{
color: rgb(0, 0, 0);
font-size: 1.6em;
font-weight: 600;

}

.main h2 span{
    display: inline-block;
    margin-top: 20px;
color:blue;
font-size: 2em;
font-weight: 500;

}

.main h3{
color: rgb(0, 0, 0);
font-size: 1.4em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
}

.main-btn{

color: white;
background-color: blue;
text-decoration: none;
font-size: 1.1em;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
margin-bottom: 40px;
transition: 0.7s ease;
}

.main-btn:hover{
background-color: rgb(3, 3, 150);
transform: scale(1.1);

}

.social-icons a{

    color: rgb(0, 0, 0);
    font-size: 1.7em;
    padding-right: 30px;
    
}
.social-icons :hover{
    transform: scale(1.1);
}

.title{

    display: flex;
    justify-content: center;
    color: blue;
    font: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}


.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{

    background-color: white;
    width: 20.25em;
    box-shadow: 0 5px 25px rgba(1,1,1,15%);
    border-radius: 10px;
    padding: 26px;
    margin: 10px;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}

.icon{
    color: blue;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}


.info h3{
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{
    background-color: rgb(13, 2, 75);
}

.projects h2{
    color: #ffffff;
}

.projects .contact{
    margin-top: 30px;

}
.project-card{
   
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
   min-height: 14em;
   width: 23em;
   overflow: hidden;
   border-radius: 10px;
   margin: 20px;
   transition: 0.7s ease;
  
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: #000;

}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: rgb(7, 35, 128);
}
.more-details:hover{
    color: #000;
    
}

.contact .icon{
    font-size: 4.5em;

}

.contact .info h3{
    color: black;
}

.contact .info p{
    font-size: 1.5em;
}

.contact .info .em{
    font-size: 1.2em;
}

.footer{
    background-color: rgb(13, 2, 75);
    color: #ffffff;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;

}

/*.social-icons2{
    color:#000000;
    font-size: 1.7em;
    padding-right: 30px;
}*/

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color:rgb(255, 255, 255);
}
@media screen and (max-width:280px){
    .logo{
        font-weight: 500;
        font-size: 1.5em;
    }
    header{
        padding:12px 20px;
        
    }
    .navigation a{
        padding-right: 20px;;
        font-size: 1em;
    }
    .main{
        padding: 4px;
    }
    .bc h2{
        font-size: 1.1em;
    }
    .bc span{
        font-size: 1em;
    }
    .main-btn{
        font-size: 1em;
    }
    .social-icons{
        font-size: 0.8em;
        padding-right: 0px;
    }
    .cards .title{
        font-size: 1.3em;
        
    }
    .card{
        padding: 5px;   
    }
    .projects{
        padding: 10px;
    }
    #services{
        padding: 10px;
    }
    #contact{
        padding: 10px;
    }
  
}

@media screen and (min-width:281px) and (max-width:690px){
    .logo{
        font-weight: 500;
        font-size: 1.5em;
    }
    header{
        padding:10px 20px;
        
    }
    .navigation a{
        padding-right: 20px;;
        font-size: 1em;
    }
    .main{
        padding: 4px;
    }
    .bc h2{
        font-size: 1.1em;
    }
    .bc span{
        font-size: 1em;
    }
    .main-btn{
        font-size: 1em;
    }
    .cards .title{
        font-size: 1.3em;
        
    }
    .card{
        padding: 5px;   
    }
    .projects{
        padding: 10px;
    }
    #contact .title{
        font-display: center;
    }
}

}
}
